name: Python application CI

on:
  push:
    branches: - '**'
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    # Use a build matrix to test across different OS and Python versions
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.12"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      # The actions/setup-python action is the recommended way to use Python with 
      # GitHub Actions. It sets up a Python environment for use in actions by
      # downloading and installing the specified version.
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      env:
        CI: 'true'
      run: |
        pytest